<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WalletConnectionString" connectionString="Data Source=.\MSSQLSERVER2017;Initial Catalog=WALLET;Integrated Security=True; user=sa; pwd=migracion*0909"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>